html, body {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: url("../images/white-waves.png");
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 30px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    padding: 25px 0px 30px;
    border-bottom: 3px solid;
    border-color: #cccccc;
}

h3 {
    font-size: 15px;
    font-weight: normal;
    padding: 10px 0px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background: #4aaaa5;
}

p {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 1.9;
}

.top {
    width: 100%;
    background-color: #ffffff;
    border-bottom: 3px solid;
    border-color: #cccccc;
    margin-bottom: 30px;
}

header {
    float: left;
    background-color: #4aaaa5;
    padding: 0px 20px;
}

a {    
    padding: 10px;
    text-decoration: none;
}

a:visited {
    color: #777777;
}

nav {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    float: right;
    margin-top: 30px;
}

.bar {
    color: #f0ebeb;
}

.menu {
    clear: both;
    overflow: auto;
    width:960px;    
    margin: 0 auto;
}

.content {
    /* clear:both; */
    overflow: auto;
    width: 960px;
    margin: 0 auto;
    background: white;
}

section {
    overflow: auto;
    width: 95%;
    margin: 0 auto;
    clear: both;
    /* background: yellow; */
}

#profile {
    overflow: auto;
    object-fit: contain;
    float: left;
    width: 200px;
    height: auto;
    margin-right: 25px;
}

.Hangman {
    float: left;
    margin: 0px 10px;
}

.RPG-Game {
    float: left;
    margin: 0px 10px;
}

.Trivia-Game{
    clear: both;
    float: left;
    margin: 0px 10px;
}

.Rutgers-Info-Widget {
    float: left;
    margin: 0px 10px;
}

.Rock-Paper-Scissors {
    clear: both;
    float: left;
    margin: 0px 10px;
}

.proj-name {
    position: relative;
    top: 180px;
}

.first-row {
    margin-top: -60px;
}

.second-row {
    margin-top: -50px;
}

.third-row {
    margin-top: -50px;
    margin-bottom: 35px;
}

input {
    height: 30px;
    width: 99%;
    font-size: 18px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

textarea {
    width: 99%;
    margin-bottom: 10px;
    font-size: 18px;
}

#submit {
    margin-bottom: 20px;
    text-align: center;
    width: 100px;
    background: #4aaaa5;
    color: white;
    font-size: 14px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;    
}

footer {
    clear: both;
    margin-top: 75px;
    clear: both;
    background: #666666;
    color: white;
    padding: 40px 0px 5px;
    border-top: 7px solid;
    border-color: #4aaaa5;
    text-align: center;
    font-size: 12px;
}

